<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lpMuni</display-name>
  <welcome-file-list>
    <welcome-file>logueo.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jmesaPreferencesLocation</param-name>
    <param-value>WEB-INF/jmesa.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>worksheet</servlet-name>
    <servlet-class>org.jmesa.worksheet.servlet.WorksheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>worksheet</servlet-name>
    <url-pattern>*.wrk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogueoServlet</display-name>
    <servlet-name>LogueoServlet</servlet-name>
    <servlet-class>com.java.seguridad.servlets.LogueoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogueoServlet</servlet-name>
    <url-pattern>/LogueoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MantenimientoServlet</display-name>
    <servlet-name>MantenimientoServlet</servlet-name>
    <servlet-class>com.java.seguridad.servlets.MantenimientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MantenimientoServlet</servlet-name>
    <url-pattern>/MantenimientoServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Recursos</description>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>com.java.recursos.Recursos</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FormatoServlet</display-name>
    <servlet-name>FormatoServlet</servlet-name>
    <servlet-class>com.java.formato.servlets.FormatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormatoServlet</servlet-name>
    <url-pattern>/FormatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpedienteServlet</display-name>
    <servlet-name>ExpedienteServlet</servlet-name>
    <servlet-class>com.java.expediente.servlets.ExpedienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpedienteServlet</servlet-name>
    <url-pattern>/ExpedienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuadroCompServlet</display-name>
    <servlet-name>CuadroCompServlet</servlet-name>
    <servlet-class>com.java.cuadrocomp.servlets.CuadroCompServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuadroCompServlet</servlet-name>
    <url-pattern>/CuadroCompServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdenCompraServlet</display-name>
    <servlet-name>OrdenCompraServlet</servlet-name>
    <servlet-class>com.java.ordencompra.servlets.OrdenCompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdenCompraServlet</servlet-name>
    <url-pattern>/OrdenCompraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaldoPresupServlet</display-name>
    <servlet-name>SaldoPresupServlet</servlet-name>
    <servlet-class>com.java.saldopresup.servlets.SaldoPresupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaldoPresupServlet</servlet-name>
    <url-pattern>/SaldoPresupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitudCotizServlet</display-name>
    <servlet-name>SolicitudCotizServlet</servlet-name>
    <servlet-class>com.java.solicitudcotiz.servlets.SolicitudCotizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitudCotizServlet</servlet-name>
    <url-pattern>/SolicitudCotizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarExpedienteServlet</display-name>
    <servlet-name>RegistrarExpedienteServlet</servlet-name>
    <servlet-class>com.java.expediente.servlets.RegistrarExpedienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarExpedienteServlet</servlet-name>
    <url-pattern>/RegistrarExpedienteServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroParaProcesosCore</display-name>
    <filter-name>FiltroParaProcesosCore</filter-name>
    <filter-class>com.java.seguridad.filtros.FiltroParaProcesosCore</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroParaProcesosCore</filter-name>
    <url-pattern>/aprobarSolicitudCotizacion.jsp</url-pattern>
    <url-pattern>/enviarCuadroComparativo.jsp</url-pattern>
    <url-pattern>/escojerCuadroComparativo.jsp</url-pattern>
    <url-pattern>/firmarOrdenCompra.jsp</url-pattern>
    <url-pattern>/firmarAutorizacionFormato.jsp</url-pattern>
    <url-pattern>/generarExpediente.jsp</url-pattern>
    <url-pattern>/generarFormato.jsp</url-pattern>
    <url-pattern>/generarOrdenCompra.jsp</url-pattern>
    <url-pattern>/grillaExpedienteComp.jsp</url-pattern>
    <url-pattern>/grillaFormatoReq.jsp</url-pattern>
    <url-pattern>/bodyFormato.jsp</url-pattern>
    <url-pattern>/invitarProveedores.jsp</url-pattern>
    <url-pattern>/mantenimientoperfil.jsp</url-pattern>
    <url-pattern>/mantenimientousuario.jsp</url-pattern>
    <url-pattern>/mantenimientomenu.jsp</url-pattern>
    <url-pattern>/mantenimientoproveedor.jsp</url-pattern>
    <url-pattern>/mantenimientodetallepac.jsp</url-pattern>
    <url-pattern>/menu.jsp</url-pattern>
    <url-pattern>/bodyExpediente.jsp</url-pattern>
    <url-pattern>/principal.jsp</url-pattern>
    <url-pattern>/verificarDetallePacEnPac.jsp</url-pattern>
    <url-pattern>/verificarDatosDelFormato.jsp</url-pattern>
    <url-pattern>/verificarUit.jsp</url-pattern>
    <url-pattern>/verificarSaldoPresupuestal.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.java.seguridad.listener.ListenerLogin</listener-class>
  </listener>
</web-app>